@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Inter:wght@400;500&display=swap');

:root {
    /*
        Colors
    */
    --black: #0B0C0E;
    --dark: #3C3D3E;
    --light: #F4F7FA;
    --bg-gray: #C7D0D9;

    /*
        Font Size
    */
    --text-sm: 14px;
    --text-base: 18px;
    --text-lg: 24px;
    --text-xl: 40px;
    --text-2xl: 60px;
    --text-3xl: 88px;
    --text-4xl: 120px;

    --gutters: 16px;
}

body {
    margin: 0;

    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);

    background: var(--light);
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 var(--gutters);

    box-sizing: border-box;
}

@media (max-width: 1360px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 912px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 688px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

h1 {
    margin: 0;

    font-size: var(--text-4xl);
    color: var(--light);

    line-height: 1;
}

h2 {
    margin: 0;

    font-size: var(--text-xl);
    color: var(--black);
}

p {
    margin: 0;

    color: var(--dark);
    font-size: var(--text-lg);
}

q {
    quotes: "\201c" "\201d";
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: var(--text-3xl);
    }

    p {
        font-size: var(--text-base);
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: var(--text-2xl);
        line-height: 1.2;
    }
}

/*
    ===
*/

.button {
    padding: 24px 48px;

    display: flex;

    border-radius: 170px;
    border: 1px solid var(--light);
    background: var(--light);

    color: var(--black);
    text-align: center;
}

/*
    Header
*/

.header {
    position: relative;
    overflow: hidden;

    background: var(--bg-gray);
}

.navbar {
    padding-top: 26px;

    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    line-height: 1;
}

.navbar--footer {
    padding: 32px 0;
}

@media screen and (max-width: 992px) {
    .navbar--footer {
        padding: 16px 0 32px;

        display: flex;
        flex-direction: column-reverse;
        row-gap: 24px;
    }
}

.logo {
    color: var(--black);
}

/*
    Menu
*/

.menu__list {
    padding: 0;
    margin: 0;

    display: flex;
    column-gap: 40px;

    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: var(--black);
    transition: .3s;
}

.menu__list--footer {
    column-gap: 32px;
}

.menu__link--footer {
    color: var(--bg-gray);
}

.menu__link--footer:hover, .menu__link--footer:active {
    color: var(--light);
}

/*
    Hero
*/

.hero {
    height: 654px;
    padding-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;

    /* background: no-repeat center / contain url('../images/hero@2x.png'); */
}

.hero__img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

@media screen and (max-width: 576px) {
    .hero__img {
        width: 100%;
    }
}

.hero__title {
    width: 100%;

    position: relative;
    z-index: 2;
}

/*
    Greetings
*/

.greetings {
    margin: auto;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
}

.greetings__hand {
    padding: 20px 30px;

    display: flex;
    align-items: center;

    column-gap: 24px;

    border-radius: 64px 0 0 64px;
    background: var(--black);
    font-size: 56px;

    position: relative;
    right: -260px;
    transition: .3s right;
}

.greetings__hand:hover {
    right: 0;
}

.greetings__hand::after {
    content: 'Hi I\2019m Ayush';

    display: flex;

    font-size: var(--text-xl);
    color: #fff;
}

@media screen and (max-width: 992px) {
    .greetings__hand {
        padding: 16px 24px;
        font-size: var(--text-xl);
    }
}

/*
    Hamburger
 */

.hamburger {
    padding: 20px;
    margin: 40px 40px 0 0;
    width: 80px;
    aspect-ratio: 1;

    position: sticky;
    top: 40px;
    left: 100%;
    z-index: 1000;

    border: none;
    border-radius: 9999px;
    background: var(--black);
    cursor: pointer;

    box-sizing: border-box;

    transition: .3s background-color;
}

.hamburger-slice {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}

.hamburger-slice::before,
.hamburger-slice::after {
    content: '';
    width: 100%;
    height: 1px;

    background: #fff;

    transition: .3s transform, background-color;
}

.hamburger-slice::before,
.hamburger-slice::after {
    content: '';
    width: 100%;
    height: 1px;

    background: #fff;
}

.hamburger.open {
    background: #fff;
}

.hamburger.open .hamburger-slice::before,
.hamburger.open .hamburger-slice::after {
    position: absolute;
    background: #000;
}

.hamburger.open .hamburger-slice::before {
    transform: rotate(-45deg);
}

.hamburger.open .hamburger-slice::after {
    transform: rotate(45deg);
}

/*
    Section
*/

.section-wrapper {
    padding: 160px 0;

    display: flex;
    flex-direction: column;
    row-gap: 120px;

}

.section-wrapper--last {
    padding-bottom: 140px;
}

.section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
}

.section__first {
    grid-column: span 3;
}

.section__gap {
    grid-column: span 1;
}

.section__last {
    grid-column: span 8;
}

@media screen and (max-width: 992px) {
    .section-wrapper {
        padding: 80px 0;
        row-gap: 60px;
    }

    .section {
        display: flex;
        flex-direction: column;

        row-gap: 20px;
    }

    .section__gap {
        display: none;
    }
}

/*
    Recent Work
*/

.recent-work__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 32px 0;
}

@media screen and (max-width: 992px) {
    .recent-work__item {
        column-gap: 16px;
    }
}

.recent-work__item:first-child {
    padding-top: 0;
}

.recent-work__item:last-child {
    padding-bottom: 0;
}

.recent-work__item:not(:last-child) {
    border-bottom: 1px solid var(--bg-gray);
}


.recent-work__info {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.recent-work__name {
    font-size: var(--text-2xl);
    color: var(--black);
}

@media screen and (max-width: 992px) {
    .recent-work__name {
        font-size: 32px;
    }
}

.recent-work__text {
    font-size: var(--text-base);
    color: var(--dark);
}

.recent-work__link {
    width: 88px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--dark);
    border-radius: 50%;
}

@media screen and (max-width: 992px) {
    .recent-work__link {
        width: 60px;
    }
}

.recent-work__link:hover {
    background: var(--dark);
    border-color: var(--dark);

    transition: 0.3s;
}

.recent-work__link:hover path {
    fill: var(--light);

    transition: 0.3s;
}

/*
    Gallery
*/

.gallery {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

@media screen and (max-width: 992px) {
    .gallery {
        padding: 0 var(--gutters);

        flex-direction: row;
        column-gap: 20px;

        overflow-x: scroll;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
    }

    .gallery::-webkit-scrollbar {
        display: none;
    }
}

.gallery__row {
    display: flex;
    column-gap: 40px;

    position: relative;
    overflow-x: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.gallery__row--gutters {
    column-gap: 48px;
}

@media screen and (min-width: 992px) {
    .gallery__row:last-child {
        left: -100px;
        margin-right: -100px;
    }
}

.gallery__row::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 992px) {
    .gallery__row {
        column-gap: 20px;
        flex-shrink: 0;

        overflow: visible;
    }
}

.gallery__item {
    max-width: 448px;
    aspect-ratio: 28 / 19;

    padding: 56px 48px;

    background: var(--bg-gray);
    border-radius: 4px;
    transition: 0.3s;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media screen and (max-width: 992px) {
    .gallery__item {
        max-width: 224px;
        padding: 28px 24px;
    }
}

.gallery__item:hover {
    cursor: pointer;
    box-shadow: 0px 60px 41px 0px rgba(0, 0, 0, 0.12);
}

.gallery__item:hover:before {
    content: "Visit the website";
    padding: 12px 36px 12px 16px;

    position: absolute;

    background: no-repeat calc(100% - 16px) center / 12px url('../icons/arrow.svg'), #fff;
    border-radius: 4px;
    color: var(--black);
    font-weight: 500;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
    Testimonials
*/

.testimonials__list {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

@media screen and (max-width: 992px) {
    .testimonials__list {
        row-gap: 40px;
    }
}

.testimonials__item {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

@media screen and (max-width: 992px) {
    .testimonials__item {
        row-gap: 24px;
    }
}

.testimonials__text {
    font-size: var(--text-lg);
}

@media screen and (max-width: 992px) {
    .testimonials__text {
        font-size: var(--text-base);
    }
}

.testimonials-author {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.testimonials-author__avatar {
    display: flex;
    border-radius: 50%;
}

.testimonials-author__name {
    font-size: var(--text-base);
    color: var(--black);
}

.testimonials-author__job {
    font-size: var(--text-sm);
    color: var(--dark);
}

.testimonials-author__person {
    display: flex;
    flex-direction: column;
}

/*
    Footer
*/

.footer {
    background: var(--black);
}

.footer__information {
    padding-top: 80px;
    padding-bottom: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .footer__information {
        padding: 40px 0;

        flex-direction: column;
        row-gap: 32px;
    }
}

.footer__text {
    font-size: 60px;
    color: var(--light);
}

@media screen and (max-width: 992px) {
    .footer__text {
        font-size: 32px;
    }

    .footer__img > img {
        width: 40px;
        height: 40px;
    }
}

.footer__avatar {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.footer__img {
    display: flex;
}

.footer__copyright {
    color: var(--bg-gray);
}
